export(getAttributeNames)
export(getRandomElements)
export(hasAttributes)
export(is.vector2)
export(isSubset)
export(isSuperset)
export(mergeLists)
export(modalValue)
export(permutate)
export(strExplode)
export(strImplode)
export(usedFactorLevels)
export(which.max2)
export(which.min2)
