export(getAttributeNames)
export(hasAttributes)
export(is.vector2)
export(isSubset)
export(isSuperset)
export(mergeLists)
export(modalValue)
export(permutate)
export(usedFactors)
export(which.max2)
export(which.min2)
