export("%is%")
export(fallThrough)
export(getAttributeNames)
export(getBootstrapSamples)
export(getRandomElements)
export(hasAttributes)
export(is.subset)
export(is.superset)
export(is.vector2)
export(mergeLists)
export(modalValue)
export(permutate)
export(strExplode)
export(strImplode)
export(usedFactorLevels)
export(which.max2)
export(which.min2)
